./devtools/nwjs-sdk-v0.36.0-osx-x64/nwjs.app/Contents/Versions/72.0.3626.81/nwjs Framework.framework/Versions/A/nwjs Framework.zip
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/xcuserdata/leejustin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/xcuserdata/leejustin.xcuserdatad/xcschemes/xcschememanagement.plist
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate
mobile/ios/toyMiniProgram/toyMiniProgram.xcodeproj/xcuserdata/leejustin.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
devtools/nwjs-sdk-v0.36.0-osx-x64/nwjs.app/Contents/Versions/72.0.3626.81/nwjs Framework.framework/Versions/A/nwjs Framework
